{% extends 'app_blog/base.html' %}

{% block title %}
Create a new blog post
{% endblock %}

{% block content %}

{% if user.is_authenticated %}

<h1>Add Blog Post</h1>

<div class="form-group">
<form method="POST">

    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-info">POST</button>

</form>
</div>
<script>
    var name = "{{ user.id }}";
    document.getElementById("elder").value = name;
</script>

{% else %}

 <strong>You are not allow to upadte the post!!!</strong>

 {% endif %}


{% endblock %}